{% extends 'base.html.twig' %}

{% block title %}Le Carrée de la mode | Mentions légales{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/informations.css') }}" />
{% endblock %}

{% block body %}
<main id="informations" class="m-legales">
    <div class="container">

		<h1 class="title-primary">Les mentions légales</h1>

		<p>Ce site est la propriété de la société COSTES CHAUSSURES, SARL au capital de 300 600€.</p>

		<p>
			SIREN :  313 609 216 <br>
			Adresse : 1 Rue Beauséjour - 12450 LA PRIMAUBE <br>
			Téléphone : <a href="tel:05 65 69 79 11">05 65 69 79 11</a> <br>
			Courriel : <a href="mailto:contact@carredelamode.com">contact@carredelamode.com</a> <br>
			N° de TVA intracommunautaire : FR 22 313609216
		</p>

		<p>Le Directeur de la publication du site est M. COSTES François, en sa qualité de gérant.</p>

		<p>
			Le prestataire assurant l'hébergement du site ainsi que le stockage des informations est la société <a href="https://www.lcvmultimedia.fr/" target="_blank" rel="noopener noreferrer">LCV Multimedia</a>. La création graphique du site a été réalisée par la société <a href="https://www.lcvmultimedia.fr/" target="_blank" rel="noopener noreferrer">LCV Multimedia</a>.
		</p>

		<h2>Le contenu du site</h2>

		<p>
			La SARL COSTES CHAUSSURES garantit les caractéristiques essentielles des produits. La société COSTES CHAUSSURES ne peut être tenue responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.
		</p>

		<p>
			La SARL COSTES CHAUSSURES ne peut être tenue pour responsable d'éventuels virus qui pourraient infecter l'ordinateur ou tout matériel informatique de l'Internaute, suite à une utilisation, à l'accès, ou au téléchargement provenant de ce site.
		</p>

		<p>
			La SARL COSTES CHAUSSURES se réserve le droit de modifier le contenu de ses offres commerciales à tout moment, étant entendu que toute commande effectuée avant la modification de l’offre sera honorée.
		</p>

		<h2>Droits d'auteurs et propriété intellectuelle</h2>

		<p>
			Ce site est la propriété de M. COSTES François qui est titulaire de tous les droits de propriété intellectuelle. Ce site constitue une œuvre protégée au titre de la propriété intellectuelle, au même titre que la structure générale du site, le graphisme ainsi que les éléments accessibles sur le site (formulaires, textes, photographies, images...).
		</p>

		<p>
			Sauf autorisation écrite préalable de M. COSTES François, le site et les informations qui y figurent ne peuvent être copiés, reproduits, modifiés, transmis, publiés sur quelques supports que ce soit, ni exploités en tout ou partie à des fins commerciales ou non commerciales, ni servir à la réalisation d'œuvres dérivées.
		</p>

		<p>
			Le non-respect de ces règles peut engager la responsabilité de l'Internaute au sens des articles L. 713-2 et L.713-3 du Code de la Propriété Intellectuelle.
		</p>

		<h2>Protection de la vie privée et des données personnelles</h2>

		<p>
			Dans le cadre du traitement de vos données personnelles, la SARL COSTES CHAUSSURES se conforme à la loi française sur la protection des données et au Règlement général de l’Union européenne sur la protection des données.
		</p>

		<p>
			En naviguant sur notre site, vous acceptez l’utilisation de cookies. COSTES CHAUSSURES insère ce que l’on appelle des cookies sur ses pages Internet. Il s’agit de petits fichiers qui sont enregistrés sur votre ordinateur ou votre terminal mobile lorsque vous consultez ou utilisez une de nos pages Internet. En visitant notre site Web, vous acceptez l’utilisation de cookies. Les cookies enregistrent certains réglages de votre navigateur et des données concernant l’échange entre votre navigateur et la page Internet. Lors de l’activation d’un cookie, un numéro d’identification (identifiant de cookie) lui est attribué. Il permet d’identifier votre navigateur et d’utiliser les informations contenues dans le cookie.
		</p>

		<p>
			Conformément à la loi Informatique et Libertés du 6 janvier 1978 le Client ou Prospect dispose d'un droit d'accès, de rectification, d'opposition et de portabilité de l’ensemble des données personnelles le concernant. Le Client peut également faire valoir son droit à l’effacement ou droit à l’oubli de ses données.
		</p>

		<p>
			Pour toute demande, le Client devra contacter COSTES CHAUSSURES à l’adresse suivante : <a href="mailto:contact@carredelamode.com">contact@carredelamode.com</a> ou par courrier :  1 Rue Beauséjour – 12450 La Primaube.
		</p>

		<p>
			COSTES CHAUSSURES garantit que les données personnelles transmises lors de l'utilisation de son site ne seront pas communiquées ni cédées à des tiers à l'exception des données indispensables pour la bonne exécution de votre commande (par ex. lors de la transmission des données au personnel des magasins).
		</p>

		<p>
			COSTES CHAUSSURES ne saurait être responsable de toutes pertes de données, fichiers. Il appartient au Client de procéder à toutes les sauvegardes nécessaires. Le site www.carredelamode.com contient également des informations provenant de tierces personnes, et des liens vers d’autres sites Internet. La SARL COSTES CHAUSSURES ne pourra en aucun cas être tenue pour responsable des dommages résultant de l’utilisation, de l’accès à, ou de l’incapacité à utiliser ces informations tierces, ni au contenu des autres sites Internet.
		</p>

		<h2>Liens hypertextes vers des sites tiers</h2>

		<p>
			Ce site propose des liens hypertextes pointant vers des sites Internet édités par des tiers. Ces liens sont établis de bonne foi et la SARL COSTES CHAUSSURES ne peut être tenue pour responsable de modifications intervenues sur ces sites. Par conséquent, ces liens hypertextes ne sauraient, en aucun cas, engager la responsabilité de la SARL COSTES CHAUSSURES : seule la responsabilité des éditeurs des sites référencés sur le site de la SARL COSTES CHAUSSURES pourra être engagée.
		</p>

		<h2>Droit applicable</h2>

		<p>Ce site ainsi que les présentes mentions légales sont soumis au droit français.</p>
		
	</div>
</main>
{% endblock %}
