{% extends 'base.html.twig' %}

{% block title %}Hello InformationsController!{% endblock %}

{% block body %}
<main id="informations we-services">
    <div class="container">

    </div>
</main>
{% endblock %}
