{% extends 'base.html.twig' %}

{% block title %}Le Carrée de la mode | Qui sommes-nous{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/informations.css') }}" />
{% endblock %}

{% block body %}
<main id="informations" class="who">
    <div class="container">
        <h1 class="title-primary">Qui sommes-nous ?</h1>

        <p>
            « Le Carré de la mode » n’est pas simplement un nom de magasin de prêt à porter, c’est avant tout une histoire d’héritage familial, de transmissions de savoir-faire, de souvenirs et de passion.
        </p>

        <p>
            L’aventure débute en 1949 où Clément COSTES arpentait le paysage aveyronnais pour se rendre de villages en villages pour vendre ses collections de chaussures dans les foires. Qu'il vente ou qu'il pleuve, qu'il neige ou qu'il gèle ou que le ciel tonne ou gronde, il était toujours présent.
        </p>

        <p>
            Son business marchait tellement qu’il s’acheta un fourgon Renault : le « 1000 kg ».  Reconnu pour aider les commerçants et artisans à retrouver le chemin des marchés après la guerre, ce fourgon était parfait pour sillonner la campagne aveyronnaise.
        </p>

        <p>
            Fier de leur père, ses enfants : Gérard et Jacques COSTES ; décidèrent de suivre ses pas et de l’accompagner dans cette belle aventure.
        </p>

        <p>
            1978 fût l’année de naissance de la SARL Chaussures Clément COSTES. Ce n’est que en 2017, que l’entreprise acheta le nom de domaine « Carré de la mode ». 
        </p>

        <p>
            François COSTES, fils de Gérard COSTES, intégra l’entreprise familiale en 2004 et continue de faire perdurer cette belle aventure familiale.
        </p>

        <p>
            Aujourd’hui, le Carré de la Mode compte aujourd’hui 4 magasins en Aveyron :
        </p>

        <ul>
            <li>La Primaube : Prêt-à-porter, chaussures &amp; accessoires</li>
            <li>Réquista : Chaussures &amp; accessoires</li>
            <li>Saint-Affrique</li>

            <ul>
                <li>Chaussure &amp; accessoires</li>
                <li>Prêt-à-porter &amp; accessoires</li>
            </ul>
        </ul>

        <p>
            Pour plus d’informations concernant les horaires d’ouverture, rendez-vous sur notre page Nos Boutiques.
        </p>

    </div>
</main>
{% endblock %}
