main#informations {
  padding-bottom: 60px;
}
main#informations .title-primary {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 30px;
}
main#informations h2 {
  font-size: 22px;
  font-weight: 700;
}
main#informations h1 + p,
main#informations h2 + p,
main#informations h3 + p {
  margin-top: 30px;
}
main#informations p + p {
  margin-top: 15px;
}
main#informations h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}
main#informations p {
  font-size: 12px;
  color: #1a1a1a;
  text-align: justify;
}
main#informations a {
  transition: all ease-in-out 0.2s;
  color: #ff5733;
  border-bottom: 1px solid white;
}
main#informations a:hover {
  border-color: #ff5733;
}
main#informations ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 6px;
  margin: 10px 0;
}
main#informations ul li {
  color: #1a1a1a;
  font-size: 12px;
  margin: 10px;
}
main#informations::before {
  content: "";
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
main#informations.cgv .content {
  position: sticky;
  top: 30px;
  background-color: #f2f2f2;
  padding: 15px;
}
main#informations.cgv .content ul.sommaire {
  list-style-type: none;
  padding-left: 6px;
  margin: 10px 0;
}
main#informations.cgv .content ul.sommaire li {
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  color: #1a1a1a;
}
main#informations.cgv .content ul.sommaire li:hover {
  color: #ff5733;
}
main#informations.cgv .border {
  padding: 15px;
  border: 1px solid #333333;
}
main#informations.cgv table tr th,
main#informations.cgv table tr td {
  padding: 10px;
  border: 1px solid #333333;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
main#informations.faq h1 {
  margin: 30px 0;
}
main#informations.faq h2 {
  color: #ff5733;
  margin: 30px 0;
}
main#informations.faq table tr th,
main#informations.faq table tr td {
  padding: 10px;
  border: 1px solid #333333;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
}
main#informations.faq .q-block {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
main#informations.faq .q-block > h3 {
  cursor: pointer;
  font-size: 16px;
  display: flex;
}
main#informations.faq .q-block > h3::before {
  content: ">";
  padding-right: 15px;
}
main#informations.faq .q-block > div {
  padding-top: 15px;
  padding-left: 26px;
  display: none;
}
main#informations.faq .q-block > div p {
  font-size: 14px;
}
