{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue sur l\'administrateur' %}

{% block main %}
    <main id="dashboard">
        <div class="container">
            
        </div>
    </main>
{% endblock %}
