<div class="modal fade show" id="modal-pay-cb" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payer par carte bancaire</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                Vous êtes sûr de vouloir régler par carte bancaire ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn o-white" data-dismiss="modal">
                    Close
                </button>
                <a href="{{ path('basket_pay', {'basket_id': basket.id}) }}" class="btn primary" style="margin-left: 15px;">
                    Confirmer
                </a>
            </div>
        </div>
    </div>
</div>